{% extends 'body.html' %}


{% block left_nav %}
  <h6>Organizations:</h6>

  {% for organization in organizations %}
    <a href="{% url 'notes-organization' organization.name %}"class="text-white">
      {{ organization.name }}
    </a>
    <br />
  {% endfor %}
{% endblock %}



{% block content %}
<div>
  <h1>Notes</h1>
</div>
<hr />
<div>
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#create_organization">
    Add Organization
  </button>
</div>
<div>
  <form action="{% url 'notes-org_search' %}" method="post">
  {% csrf_token %}
    <div class="input-group mb-3">
      <input type="text" name="search_text"class="form-control" placeholder="Choose an Organization...">
      <div class="input-group-append">
        <input class="btn btn-outline-secondary" type="submit" value="Search">
      </div>
    </div>
  </form>

</div>


<!-- Create Organization Modal -->
<div class="modal fade pt-5" id="create_organization" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Add Organization</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'notes-home' %}" method="POST">
        {% csrf_token %}
          Name:
          <br />
          <input type="text" name="name" required="True" />
          <br />
          Street Address:
          <br />
          <input type="text" name="street_address" required="True" />
          <br />
          City:
          <br />
          <input type="text" name="city" required="True" />
          <br />
          State:
          <br />
          <input type="text" name="state" required="True" />
          <br />
          Zip Code:
          <br />
          <input type="number" name="zip_code" min="00000" max="99999" required="True"/>
          <br />
          Contact Name:
          <br />
          <input type="text" name="contact_name" required="True" />
          <br />
          Contact Number:
          <br />
          <input type="number" name="area_code" min="000" max="999" required="True">-
          <input type="number" name="prefix" min="000" max="999" required="True">-
          <input type="number" name="line_number" min="0000" max="9999" required="True">-
          <br />
          <br />
          <input class="btn btn-primary" type="submit" value="Add Organizaion" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
