{% extends 'body.html' %}


{% block left_nav %}
  <h6>Sites:</h6>

  {% for site in sites %}
    <a href="{% url 'notes-site' organization.name site.name %}" class="text-white">
      {{ site.name }}
    </a>
    <br />
  {% endfor %}
{% endblock %}



{% block content %}
<h2>
  <a href="{% url 'notes-home' %}" class="text-dark">Home</a> / {{ organization.name }}
</h2>
<hr />
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#create_site">
  Add Site
</button>
<hr />
<br />
{{ organization.address }}
<br />
{{ organization.contact_name }}
<br />
{{ organization.phone_number }}
<br />
<hr>
<div class="btn-group" role="group" aria-label="Basic example">
  {% for site in sites %}
  <a href="{% url 'notes-site' organization.name site.name %}">
    <button type="button" class="btn btn-secondary">{{ site.name }}</button>
  </a>
  {% endfor %}
</div>

<!-- Create Note Modal -->
<div class="modal fade pt-5" id="create_site" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Add Site</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'notes-organization' organization.name %}" method="POST">
        {% csrf_token %}
          Name:
          <br />
          <input type="text" name="name" required="True" />
          <br />
          Street Address:
          <br />
          <input type="text" name="street_address" required="True" />
          <br />
          City:
          <br />
          <input type="text" name="city" required="True" />
          <br />
          State:
          <br />
          <input type="text" name="state" required="True" />
          <br />
          Zip Code:
          <br />
          <input type="number" name="zip_code" min="00000" max="99999" required="True"/>
          <br />
          Contact Name:
          <br />
          <input type="text" name="contact_name" required="True" />
          <br />
          Contact Number:
          <br />
          <input type="number" name="area_code" min="000" max="999" required="True">-
          <input type="number" name="prefix" min="000" max="999" required="True">-
          <input type="number" name="line_number" min="0000" max="9999" required="True">-
          <br />
          <br />
          <input class="btn btn-primary" type="submit" value="Add Site" />
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
