{% extends 'body.html' %}


{% block left_nav %}
  <h6>{{ left_header }}:</h6>

  {% for site in sites %}
    <a href="{% url 'notes-site' organization.name site.name %}" class="text-white">
      {{ site.name }}
    </a>
    <br />
  {% endfor %}
{% endblock %}



{% block content %}
  <h2>
    <a href="{% url 'notes-home' %}" class="text-dark">Home</a> / <a href="{% url 'notes-organization' organization.name %}" class="text-dark">{{ organization.name }}</a> / {{ site.name }}
  </h2>
<hr />
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#create_note">
  Add Note
</button>
<br />
<hr />

{{ site.address }}
<br />
{{ site.contact_name }}
<br />
{{ site.phone_number }}
<br />

<br />
{% for note in notes %}
  <div class="card text-white bg-success mb-3" style="width:100%">
  <div class="card-header">{{ note.date }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ note.user.username }}</h5>
    <p class="card-text">{{ note.body }}</p>
  </div>
  </div>
{% endfor %}


<!-- Create Note Modal -->
<div class="modal fade pt-5" id="create_note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'notes-site' organization.name site.name %}" method="POST">
        {% csrf_token %}
          Date:
          <br />
          <input type="date" name="date" value="{{ date }}" />
          <br />
          Notes:
          <br />
          <textarea name="body" rows="8" cols="50"></textarea>
          <br />
          <br />
          <input class="btn btn-primary" type="submit" value="Add Note" />
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
